body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
}

.browser-icon {
    width: 70px;
}

.browser-info {
    position: absolute;
    transform: translateX(-59px) translateY(-17px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    opacity: 50%;
}

.chrome-tabs {
    padding-left: 50px;
}

.browser-separator {
    width: 1px;
    height: 100%;
    background: #e8eaed;
}

.chrome-tab-blocked {
    text-decoration: line-through;
}

.grup-buttons{
    min-width: fit-content;
    margin-left: 10px;
}

.grup-opcions{
    display: flex;
}
/*******/
/* nav */
.card {
    max-width: 25rem;
    padding: 0;
    border: none;
    border-radius: 0.5rem;
}

a.active {
    border-bottom: 2px solid #55c57a !important;
}

.nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500;
}
.nav-link:hover {
    color: #55c57a;
}

.nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
}

.tab-content {
    padding-bottom: 1.3rem;
}

.form-control {
    background-color: rgb(241, 243, 247);
    border: none;
    margin-bottom: 13px;
}

/* 3nd card */
info-span {
    margin-left: 0.5rem;
    padding: 1px 10px;
    color: white;
    background-color: rgb(143, 143, 143);
    border-radius: 4px;
    font-weight: 600;
}

.marge {
    padding: 0 1.5rem 0 1.5rem;
}

label {
    font-weight: 500;
    color: rgb(104, 104, 104);
}

.btn-success {
    float: right;
}

.form-control:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 7px rgba(0, 0, 0, 0.2);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}

/* 1st card */

ul {
    list-style: none;
    margin-top: 1rem;
    padding-inline-start: 0;
}

.search {
    padding: 0 1rem 0 1rem;
}

.ccontent li .wrapp {
    padding: 0.3rem 1rem 0.001rem 1rem;
}

.ccontent li .wrapp div {
    font-weight: 600;
}

.ccontent li .wrapp p {
    font-weight: 360;
}

.ccontent li:hover {
    background-color: rgb(117, 93, 255);
    color: white;
}

/* 2nd card */

.addinfo {
    padding: 0 1rem;
}

/* modal input disabled */
.modal input:disabled {
    background-color: #ececec;
    color: #00000000;
}

/* main */

main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.main-content{
    width: 100%;
    padding: 0 1rem;
    overflow-y: auto;
}

.b-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.scrollarea {
    overflow-y: auto;
}

.nomesunalinia{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 226px;
}

.date-historial-heading{
    width: 100%;
    text-align: end;
}
.historial-favicon{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.apps{
    margin: 5px 0;
}

.app{
    display: flex;
    margin: 0 10px;
}

.app-div{
    --img-nav-height: calc(var(--nav-height) - 1rem) !important;
    padding-top: 4px;

}

/* Windows 11 TaskBar */
/*! CSS Used from: https://www.cssscript.com/demo/windows-11-ui/css/style.css */

/*! CSS Used from: https://w11-clone.vercel.app/style.css */
.w11{

    --nav-height: 3rem;
    --max-height: 100vh;
    --max-width: 100vw;
    --img-nav-height: calc(var(--nav-height) - 1.5rem);
    --w11-logo-gradient: linear-gradient(135deg, #6bd3ff, #0079d4);
    --bg-color-search: #1e202c;
    --border-color-search: #292b41;
    --bottom-border-color-search: #9dcbe3;
    --placeholder-color-search: #a2a5ae;
    --glass-white-color: rgba(255, 255, 255, 0.1);
    --footer-start-height: 4em;
    --sun-gradient: linear-gradient(135deg, #ffef80, #ecaa00);
    font-family: poppins, monospace;
}

.w11-first-container div svg{
    scale: 0.8;
}
.w11-nav-container{display:flex;align-items:center;justify-content:space-between;height:var(--nav-height); background: #212529; border-radius: 5px 5px 0 0;}
.w11-first-container,.w11-second-container{display:flex;height:100%;width:auto;gap:0.5rem;align-items:center;justify-content:center;}
.w11-second-container{gap:0rem!important;}
.w11-first-container div svg,.w11-first-container div img,.w11-second-container div svg{aspect-ratio:1;height:var(--img-nav-height);width:auto;border-radius:0.1em;}
.w11-first-container{margin:auto;}
.w11-second-container .w11-sistema-info div{display:grid;place-content:center;}
.w11-sistema-info{height:80%;gap:0.5em;padding:0 0.5em;border-radius:0.5em;transition-duration:0.5s;color:white;margin-right:0.5em;display:grid;grid-auto-flow:column;}
.w11-sistema-data{height:80%;padding:0 1em!important;color:white;margin-right:0.5em;border-radius:0.5em;display:flex;flex-direction:column;font-size:0.65em;align-items:flex-end;justify-content:center;}
.w11-sistema-info:hover,.w11-sistema-data:hover{background-color:rgba(255, 255, 255, 0.075);transition-duration:0.5s;}
.w11-sistema-info div{margin:auto;}
.w11-first-container div{aspect-ratio:1;border-radius:0.1rem;transition-duration:0.2s;height:85%;display:grid;place-content:center;border-top:1px solid rgba(255, 255, 255, 0.0);}
.w11-second-container div svg{aspect-ratio:1;display:grid;place-content:center;transform:scale(0.7);}
.w11-first-container .w11:hover{background-color:var(--glass-white-color);border-radius:0.5rem;transition-duration:0.1s;border-top:1px solid rgba(255, 255, 255, 0.075);}
.w11-first-container div:nth-child(2) svg{color:#eff7ff;}
.windows-logo{filter:brightness(1.6);}
.w11-first-container div:active>img,.w11-first-container div:active>svg{transform:scale(0.5);transition-duration:0.5s;}
.w11-first-container img,.w11-first-container svg{transition-duration:0.5s;}
.w11-first-container>div[title]:hover::after,.w11-sistema-info>div[title]:hover::after,.w11-sistema-data[title]:hover::after{content:attr(title);color:white;position:absolute;transform:translateY(calc(-100% - 1em));padding:0.2em 0.5em;border:2px solid var(--glass-white-color);border-radius:0.5em;font-size:0.9em;background-color:rgba(0, 0, 68, 0.623);transition-duration:0.5s;animation:fadeIn 0.5s;}
.w11-sistema-info>div[title]:hover::after{transform:translateY(calc(-100% - 2em));font-size:0.6em;}
/*! CSS Used keyframes */
@keyframes fadeIn{from{opacity:0;transform:translateY(calc(-100% - 3em));}to{opacity:1;}}